.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightblue;
}
#manu-toggla{
    display: none;
}
.manu-icon{
    display: none;
}
.nav-links{
    display: flex;
    gap: 20px;
    
}

