.navbar{
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
   align-items: center;
   padding: 20px;
}
.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
}
#manu-toggle {
    display: none;
}
.manu-icon{
    /* display: none; */
}
@media (max-width: 768px){
    .nav-link{
    flex-direction: column;
    position:absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    text-align: center;
  }

    #manu-toggle:checked + .manu-icon + .nav-link{left: 0%;}
  }
.pakhi{
  display: flex;
  justify-content:space-around;
}
.text{
  border: 2px solid black;
  padding: 0px 10px;
  margin-top: 10px;
  background-color: antiquewhite;
}

{
  
}